/* Navbar styles */
.navbar {
    background-color: #6497bf;
    /* Reservation blue background for navbar */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #fff;
    /* White text in navbar */
}

.navbar-toggler-icon {
    background-color: #fff;
    /* White color for the navbar toggler icon */
}

/* Move navbar items to the right */
.navbar-nav {
    margin-left: auto;
}

/* Container background color */
.container {
    background-color: #9BBEC8;
    margin-bottom: 30px;
    /* Light blue background for container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(1, 1, 111, 0.1);
    /* Dark blue shadow for container */
}

/* Button styles */
.btn {
    /* White text in button */
    border: 1px solid #fff;
    /* White border for button */
}

.btn-success {
    background-color: #FA7070;
    /* Red button for success */
}

/* Footer styles */
.footer {

    background-color: #6497bf;
    /* Match navbar color */
    color: #fff;
    /* White text in footer */
}

/* Text input and select styles */
.form-control,
.form-select {
    background-color: #FDF7E4;
    /* Red background for input/select */
    border: 1px solid #fff;
    /* White border for input/select */
    color: #000000;
    /* White text in input/select */
}

/* Optional: Add padding to inputs and selects for better spacing */
.form-control,
.form-select,
.btn {
    margin-bottom: 10px;
}

/* Optional: Style the headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #01016f;
    /* Dark blue headings */
}

/* Optional: Add shadow to form sections for a card-like appearance */
.col-section {
    box-shadow: 0 0 10px rgba(1, 1, 111, 0.1);
    border-radius: 10px;
    padding: 10px;
    width: 25em;

    /* Dark blue shadow for form sections */
}

.col img {
    height: 300px;
    width: 500px;
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;

}

.col:hover img {
    transform: scale(1.05);
}


.form {
    margin: 10px 20px 10px 20px;
}

.title {
    color: #BE3144;
}

#Select_student {
    height: 40px;
    width: 25em;
    background-color: #FEFAE0;
    margin-top: 5px;
    padding-top: 5px;
    border-radius: 5px;
}

.downbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}